<h1>Listing users</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Ap1</th>
    <th>Ap2</th>
    <th>Fechanac</th>
    <!--<th></th>
    <th></th>-->
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.nombre %></td>
    <td><%= user.ap1 %></td>
    <td><%= user.ap2 %></td>
    <td><%= user.fechaNac %></td>
    <td><%= link_to 'Show', user %></td>
    <!--<td><%#= link_to 'Edit', edit_user_path(user) %></td>
    <td><%#= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
    <td><%= link_to 'showContacs', user_contacts_path(user) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
