<br><br>
<div class="container">

  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4">
      <h1 class="centra"><tt><u>User Info</u></tt></h1><br>
      <p class="centra">
        <b>Nombre:</b>
        <%= @user.nombre %>
      </p>

      <p class="centra">
        <b>Ap1:</b>
        <%= @user.ap1 %>
      </p>

      <p class="centra">
        <b>Ap2:</b>
        <%= @user.ap2 %>
      </p>

      <p class="centra">
        <b>Date of birth:</b>
        <%= @user.fechaNac %>
      </p>

      <p class="centra">
        <b>ID:</b>
        <%= @user.id %>
      </p>

      <!--<p class="centra">
        <b>Father:</b>
        <%# if @user.padre.nil? %>--> <!-- si no hay padre de ese user es un superUser -->
          <!--Super User (no father) -->
        <%# else %> <!--si hay padre se pinta su nombre -->
          <!--<%#= link_to @user.padre.nombre, user_path(@user.padre.id) %>
          <%#= debugger %>
        <%# end %>
      </p>-->

      <p class="centra">

        <% if @user.padre.nil? %> <!-- si no hay padre de ese user es un superUser -->
          <s><b>Father</b></s><b> (Super User)</b>
        <% else %> <!--si hay padre se pinta su nombre -->
          <b>Father:</b>
          <%= link_to @user.padre.nombre, user_path(@user.padre.id) %>
          <%#= debugger %>
        <% end %>
      </p>

      <p class="centra">
        <b>Contacts:</b>
        <%= link_to "#{@user.contacts.count} numbers", user_contacts_path(@user) %><%= " " %>
      </p>
      <div class="box-blue-round">
        <p class="centra ">
          <b>----- Created sons: -----</b>

          <% if @user.hijos.count == 0 %> <!-- si no tiene hijos lo informo -->
            <h3 class="centra">----- No tiene hijos -----</h3>
          <% else %>
            <ol class="noventa">
              <% @user.hijos.each do |son| %>
                <% if !(son.id == @user.id) %><!-- xa q no muestre el superUser a él mismo como hijo (xq su id es = al del hijo) -->
                  <li class="centra"><%= link_to son.nombre, user_path(:id => son.id, :padre_id => son.padre_id) %></li>
                <% end %>
              <% end %>
            </ol>
          <% end %>
        </p>
        </div>
        <div class="centra box-blue-round">
          <%= link_to 'Add New User', new_user_path(:padre_id => @user.id) %>
        </div>
        <p class="centra"><strong>---------------------------------</strong></p>
        
      </div>
  </div>
</div>

<div class="centra">
  <%= link_to 'Contacts', user_contacts_path(@user) %> - 
  <%= link_to 'Edit', edit_user_path(@user) %> - 
  <%= link_to 'BackToAllUsers', users_path %>
</div>