<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @user.nombre %>
</p>

<p>
  <b>Ap1:</b>
  <%= @user.ap1 %>
</p>

<p>
  <b>Ap2:</b>
  <%= @user.ap2 %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @user.fechaNac %>
</p>

<p>
  <b>ID:</b>
  <%= @user.id %>
</p>



<p>
  <b>Father:</b>
  <% if (@user.id == @user.padre_id) %> <!-- si el user y el padre son el mismo es q es el superUser -->
    SuperUser (no father)
  <% elsif (@noFather == true) %>  <!--si no hay padre se pone que fue borrado -->
     father was deleted
  <% else %> <!--si hay padre se pinta su nombre TODO: HACER ESTO LINK PARA IR AL SHOW DEL PADRE -->
    <%= @padre.nombre %> hacer esto link
  <% end %>
</p>



<!--<p>
  <b>user.padre_ID:</b>
  <%= @user.padre_id %>
</p>-->


<p>
  <b>Contacts:</b>
  <%= link_to "#{@user.contacts.count} numbers", user_contacts_path(@user) %><%= " " %>
</p>

<p>
  <b>Hijos:</b>

  <% if @userSons.count == 0 %> <!-- si no tiene hijos lo informo -->
    <h3>----- No tiene hijos -----</h3>
  <% else %>
    <% @userSons.each do |son| %>
      <ul>
        <% if !(son.id == @user.id) %><!-- xa q no muestre el superUser a él mismo como hijo (xq su id es = al del hijo) -->
          <li><%= link_to son.nombre, user_path(:id => son.id, :padre_id => son.padre_id) %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</p>

<%= link_to 'Contacts', user_contacts_path(@user) %> - 
<%= link_to 'Edit', edit_user_path(@user) %> - 
<%= link_to 'BackToAllUsers', users_path %>
