<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @user.nombre %>
</p>

<p>
  <b>Ap1:</b>
  <%= @user.ap1 %>
</p>

<p>
  <b>Ap2:</b>
  <%= @user.ap2 %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @user.fechaNac %>
</p>

<p>
  <b>ID:</b>
  <%= @user.id %>
</p>

<p>
  <b>Father:</b>
  <%= @padre.nombre %>
</p>

<p>
  <b>Contacts:</b>
  <%#= @user.contacts.count %>  <!--numbers  -->
  <%= link_to "#{@user.contacts.count} numbers", user_contacts_path(@user) %><%= " " %>
</p>

<p>

  <b>Hijos:</b>

    <% if @userSons.count == 0 %>
      <h3>----- No tiene hijos -----</h3>

    <% else %>
      <% @userSons.each do |son| %>
        <ul>
          <li><%= son.nombre %></li> <!-- añadir link a ese hijo user para ir al show de ese hijo user-->
        </ul>
      <% end %>
    <% end %>

</p>

<%= link_to 'Contacts', user_contacts_path(@user) %> - 
<%= link_to 'Edit', edit_user_path(@user) %> - 
<%= link_to 'BackToAllUsers', users_path %>
