<br><br>
<div class="container">

  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4">    
      <p class="centra">
        <b>Nombre:</b>
        <%= @contact.nombre %>
      </p>

      <p class="centra">
        <b>Numtlf:</b>
        <%= @contact.numTlf %>
      </p>

      <p class="centra">
        <b>User:</b>
        <%= link_to "#{@contact.user.nombre}", user_path(@contact.user) %>
      </p>

      <p class="centra">
        <b>Created at:</b>
        <%= @contact.created_at %>
      </p>

      <p class="centra">
        <b>Update at:</b>
        <%= @contact.updated_at %>
      </p>
      <div class="centra box-blue-round">
        <%= link_to 'Edit', edit_user_contact_path(@contact.user, @contact) %> |
        <%= link_to 'Back', user_contacts_path %>
      </div>
    </div>
  </div>

</div>