<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @contact.nombre %>
</p>

<p>
  <b>Numtlf:</b>
  <%= @contact.numTlf %>
</p>

<p>
  <b>Father:</b>
  <%= @contact.user.nombre %>
</p>

<p>
  <b>Created at:</b>
  <%= @contact.created_at %>
</p>

<p>
  <b>Update at:</b>
  <%= @contact.updated_at %>
</p>


<%= link_to 'Edit', edit_user_contact_path(@contact) %> |
<%= link_to 'Back', user_contacts_path %>
