<br><br>
<div class="centra">
	<h1 class="centra">All Contacts</h1>
</div><br>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <table class="table table-striped table-hover col-centered">
        <tbody>
          <tr>
            <th>Nombre</th>
            <th>Numtlf</th>
            <th>Navegación</th>
          </tr>

          <% @contacts.each do |contact| %>
            <tr>       <!--################### Navegacion con link_to ##########################-->
              <td><%= contact.nombre %></td>
              <td><%= contact.numTlf %></td>
              <td><%= link_to ' Show', user_contact_path(contact.user, contact), :class => 'btn btn-primary btn-xs fa fa-info-circle' %>
                  <%= link_to ' Edit', edit_user_contact_path(contact.user, contact), :class => 'btn btn-warning btn-xs fa fa-cogs' %>
                  <%= link_to ' Delete', user_contact_path(:user_id => contact.user_id, :id => contact), :class => 'btn btn-danger btn-xs fa fa-trash', method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>                                   
          <% end %>
        </tbody>
      </table>

      <br />
    </div> 
  </div>
  <div class="centra">
    <%= link_to 'AllUsers', users_path %>
  </div>
</div>