<h1>Listing users</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Ap1</th>
    <th>Ap2</th>
    <th>Fechanac</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.nombre %></td>
    <td><%= user.ap1 %></td>
    <td><%= user.ap2 %></td>
    <td><%= user.fechaNac %></td>
    <td><%= link_to 'Show', [:admin, user] %></td>
    <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
    <td><%= link_to 'Destroy', [:admin, user], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <!--<td><%#= link_to 'showContacs', admin_contacts_path(user) %></td>-->
    <td><%= link_to 'showContacs', admin_contacts_path %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_admin_user_path %>
