<!DOCTYPE html>
<html>
<head>
  <title>ListinRoR</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  																		<!-- header -->
	<nav class="navbar navbar-inverse navbar-fixed-top opacidad myHeader" role="navigation">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">      
	      <a href="/">
	        <!-- <img src="/assets/phoneverde.png" alt="HTML tutorial" style="width:42px;height:42px;padding-top:2px"> -->
	        <i class="fa fa-phone"></i>
	      </a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li><%= link_to "All Contacts", admin_contacts_path %> <!-- para ir a todos los contacts -->
			<!--<a href="#">All Contacts</a>--></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="http://www.paginasamarillas.es/"><i class="fa fa-phone "></i> Paginas Amarillas</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container -->
	</nav><br><br>
																		<!-- fin header -->

	<% if notice %>
		<div class="notification-box col-lg-3 box-blue-round" id="notification_box">
			<p class="fa fa-info-circle" id="notice"><%= notice %></p>
		</div>

		<script type="text/javascript">
			setTimeout(function(){ $("#notification_box").remove();}, 3000);
		</script>
	<% end %>

<%#= flash[:notice] %> <!-- esto es para q salga x aqui los notice (error or success) -->
<%= yield %>
<br><br><br>

																		<!-- footer -->
<nav class="navbar navbar-inverse navbar-fixed-bottom myFooter opacidad" role="navigation">
  <div class="container">
  	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">All contacs</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://twitter.com/jamarinhidalgo"><i class="fa fa-twitter-square"></i> @jamarinhidalgo</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
													   				<!-- fin footer -->

</body>
</html>
